<?xml version="1.0" ?>
<launch>

	<!-- Network interface connected to the Go2 (used by unitree_sdk2's DDS ChannelFactory) -->
	<arg name="network_interface" default="enp0s31f6" />
	<arg name="rviz_conf" default="$(find go2_description)/rviz/conf_hw.rviz"/>
	
	<!-- send hyq urdf to param server and spawn it -->
	<include file="$(find go2_description)/launch/upload.launch">	</include>

	<node pkg="tf" type="static_transform_publisher" name="world_broadcaster" args="0 0 0 0 0 0   /base_link /world  200"/>


	<node name="robot_hardware_interface" pkg="go2_hardware_interface" type="ros_control_node" respawn="false" output="screen">
		<param name="network_interface" value="$(arg network_interface)" />
	</node>

 
	 <rosparam file="$(find ros_impedance_controller)/config/joint_state_publisher.yaml" ns="/go2" command="load"/>
			
		<!-- 3 Loading the controllers into the controller manager -->
	<node name="ros_impedance_controller" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/go2" args="joint_state_publisher"/>


	<!-- 4- load robot_state_publisher: converts joint states to TF transforms, it is just for rviz, etc -->
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<remap from="/joint_states" to="/go2/joint_states"/> 
		</node>

	<!-- run rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf) -f world"/>




</launch>

